server:
  port: 8084

spring:
  application:
    name: inventory-service
  data:
    mongodb:
      host: localhost
      port: 27017
      database: hospital_inventory

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka