server:
  port: 8082

spring:
  application:
    name: appointment-service
  datasource:
    url: jdbc:postgresql://localhost:5432/appointment_db
    username: postgres
    password: sbkiit26
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
  rabbitmq:
    host: localhost
    port: 5672
    username: guest
    password: guest

app:
  rabbitmq:
    exchange: appointment.exchange
    routing-key: appointment.routing.key

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka