server:
  port: 8085

spring:
  application:
    name: staff-service
  datasource:
    url: jdbc:postgresql://localhost:5432/staff_db
    username: postgres
    password: sbkiit26
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka